<% if current_user.id == 1 %>
<h1>New Clothing</h1>

<%= render 'form', clothing: @clothing %>

<%= link_to 'Back', clothings_path %>
<% else %>
  <%= render file: "#{Rails.root}/public/422", status: :in_development %>
<% end %>
