<% if current_user.id == 1 %>
  <h1>New Outer</h1>
  <%= render 'form', outer: @outer %>
  <%= link_to 'Back', outers_path %>
<% else %>
<%= render file: "#{Rails.root}/public/422", status: :in_development %>
<% end %>
